spring:
  datasource:
    url: jdbc:mysql://${MYSQL_HOST}:3306/web3_user?useSSL=true&serverTimezone=Asia/Seoul
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    show-sql: false

management:
  endpoints:
    web:
      exposure:
        include: health

logging:
  level:
    com.web3.community.user: WARN
