요구사항
1. Backend
1) 서비스 종류
- API Gateway : API Gateway
- Common : 공통 모듈
- User Service : 사용자 서비스 서버
- Auth Service : 인증 서비스 서버
- Post Service : 게시판 서비스 서버
- Comment Service : 댓글 서비스 서버

2) 기술
※ 위 서비스 목적에 맞게 기술 적용 및 근거 상세 설명
- Spring Boot WebFlux
- Spring Boot MVC
- Redis
- MySQL
- MongoDB
- Kafka

2. Frontend
1) 기술
- Vue.js

3. 배포
- K8S