spring:
  datasource:
    url: jdbc:mysql://${MYSQL_HOST}:3306/web3_auth?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&createDatabaseIfNotExist=true
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    show-sql: false
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:}

services:
  user-service-url: ${USER_SERVICE_URL:http://user-service:8082}

logging:
  level:
    com.web3.community.auth: INFO
    org.springframework.security: INFO
