server:
  port: 8080

spring:
  application:
    name: api-gateway
  
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/users/**,/api/auth/**
        
        - id: post-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/posts/**
        
        - id: notification-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/notifications/**
      
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"
  
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:}

logging:
  level:
    org.springframework.cloud.gateway: DEBUG